.button {
    display: flex;
    align-items: center;
    justify-content: center;
    // text-align: center;

    button {
        padding: 1em 2em;
        border-radius: 1em;
        border: 1px none white ;
        background-color: slateblue;
        color: white;
        box-shadow: 0.1em 0.1em 10px black;
    }
    
    button:active{
        box-shadow: 0em 0em;

    }
}