.button {
    display: flex;
    align-items: center;
    justify-content: center;
    // text-align: center;

    button {
        padding: 1em 2em;
        // border-radius: 1em;
        border: 2px solid black ;
        background-color: rgb(164, 151, 245);
        // color: white;
        font-weight: bold;
        // box-shadow: 0.1em 0.1em 10px black;
    }
    
    button:active{
        // border-style:  hidden ;
        color: white
        // box-shadow: 0em 0em;
    }
}